.logo{
    background-color: rgb(245, 233, 233);
    text-align: left;
    font-size: 30pt;
    position: absolute;
    top:50pt;
    display:block;
   
    left:150pt;
}
.quote1{
    float: auto;
    margin-top: 90px;
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    font-weight:1000px;
 }
.quote2{
    float: auto;
    margin-top: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    font-weight: 1000px;
   
    
}
.image{
    float:right;
    margin-top: 100px;
     margin-left:10px;
}
.image1{
    position: absolute;
    top:250pt;
     left: 5px;
}

footer{
    background-color: rgba(34, 34, 34);
    color: #fff;
}
.footer_info{
    width:100px;
   
    display: flex;
    
}
.footer_info .footer_width{
    padding:50px;
}
.footer_info h2{
    margin-bottom: 5px;
}
.about , .contact {
    width: 100pt;
}

.about ul li{
    padding-left: 75px;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact ul li span {
    margin-right: 10px;
}
.copy-right{
    padding: 10px;
    text-align: center;
    background-color: rgba(66, 66, 66);
}